# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
libs/
dist/
build/
bin/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe

# Miscellaneous
*.bak
*.swp
*.tmp
*.tmp.*
*~
*.DS_Store